@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

:root {
  --pastel-blue: #b4c3ff;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  color: var(--pastel-blue);
}

.remaining-time {
  font-size: 50px;
}

ul {
  list-style: none;
}

.first-row {
  display: flex;
}

.second-row {
  display: flex;
}
.third-row {
  display: flex;
}

.four-row {
  display: flex;
}

li {
  text-decoration: none;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 2px solid var(--pastel-blue);
  background: url("/images/image1.jpg");
}

.first-1 {
  background-position-x: 0px;
  background-position-y: 0px;
}

.first-2 {
  background-position-x: -100px;
  background-position-y: 0;
}
.first-3 {
  background-position-x: -200px;
  background-position-y: 0;
}

.first-4 {
  background-position-x: -300px;
  background-position-y: 0;
}

.second-1 {
  background-position-x: -100px;
  background-position-y: -100px;
}

.second-1 {
  background-position-x: -200px;
  background-position-y: -100px;
}
.second-1 {
  background-position-x: -300px;
  background-position-y: -100px;
}
.second-1 {
  background-position-x: -400px;
  background-position-y: -100px;
}
